body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
p,
h1,
h2 {
  margin: 10px auto;
}

.bold {
  font-weight: bold;
}

.fetch-container {
  display: flex;
  justify-content: center;
}

.input__field {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
}

.button {
  margin: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.button:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.line-chart {
  margin: 0 auto;
  width: 90%;
  height: auto;
}
